<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.ico">
    <!-- Favicon-->

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- Google Fonts-->

    <title>💸Currency Converter💸</title>
</head>

<body>

    <div class="container">
        <form action="/" method="post">

            <p>From:</p>
            <div class="from-container">
                <input type="number" min="0" name="currValue" id="from">
                <select name="from" id="from">
                    <option value="choose" selected disabled>choose</option>

                    <% for (let curr in currencies){ %>
                    <option value="<%= currencies[curr] %>"><%= currencies[curr] %></option>
                    <% } %>
                </select>
            </div>

            <div class="to-container">
                <p>TO:</p>

                <select name="to" id="to">
                    <option value="choose" selected disabled>choose</option>

                    <% for (let curr in currencies){ %>
                    <option value="<%= currencies[curr] %>"><%= currencies[curr] %></option>
                    <% } %>
                </select>
            </div>
            <button>Convert</button>
        </form>
    </div>
    <div class="result">
        <p>Result:</p>

        <% if(sum) {%>
        <p><%=sum %> </p>
        <% } else {%>
        <p>error</p>
        <% } %>

    </div>

    <script type="module" src="../public/js/script.js"></script>
</body>

</html>